{{extend 'layout.html'}}
{{block 'scrollBar.html'}}

<h1>About UpDown Fitness</h1>
<h3>
    Our Story
</h3>
<div>
    <p></br>
     In their previous jobs involving long days at the office and lots of travel, our founders had a hard time staying fit. Despite strong motivation to exercise and be healthy, a hectic lifestyle too often got in the way of working out. As health and fitness lovers, we decided to create a solution that makes it as easy as possible for people in a modern fast-paced society to exercise and be healthy. We also wanted this solution to be personalized for each user so that anyone can use it. With this goal in mind, we founded Updown in 2015 in Madison, Wisconsin.
</br></p>
 <p>
     We want Updown to enhance our users' fitness journeys with a fun, rewarding, and personalized experience. To this end, we have developed an easy to use, smart fitness application called Updown Fitness. It uses a proprietary algorithm to generate unique routines for users that can be done regardless of how much time they have or where they are located. We also know that most things are better with friends, so we're building a full social network into Updown that enables our users to share fitness experiences and encourage one another. We're integrating Updown into the full fitness spectrum by partnering with gyms and health and fitness providers, and we're rewarding our users to keep them motivated. We think that our approach to fitness will provide the best framework for empowering people to reach their health and fitness goals.
     
</p>
<p>
     We launched the Updown Fitness application in November 2015 to very positive feedback, and each day we add hundreds of users to our growing community. We have a long road ahead of us, but our maniacal focus on our community of users and on providing an awesome fitness experience helps us make Updown better every single day. 
    
</p>
</br>

{{=BEAUTIFY(response._vars)}}
