<!DOCTYPE html>

<html>
<head>
	<meta charset="UTF-8">
	<title>Blog - Medical Hospital Website Template</title>
	<link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>
	<div class="background">
		<div class="page">
		<a href="index.html" id="logo">Health Tech Link</a>
	
	
<!-- SIDE BAR ------------------------------------------------------------------------------------------------------------->			
			<div class="sidebar">
				<ul>
					<li class="selected">
						<a href="index.html">Home</a>
					</li>
					
					<li>
						<a href="products.html">Products</a>
					</li>
					
					<li>
						<a href="networks.html">Networks</a>
					</li>
					
					<li>
						<a href="vendors.html">Vendors</a>
					</li>
					
					<li>
						<a href="about.html">About</a>
					</li>
					
					<li>
						<a href="resources.html">Resources</a>
					</li>
						
				</ul>
				
				
				
				
				
				<div class="first">
					<div>
						<h3>Information you can trust!</h3>
						<img src="images/man.jpg" alt="">
						<p>
							Each vendor is required to provide detailed information; backed by documentation!
						</p>
					</div>
				</div>
				<div>
					<div>
						<h3>PLACE HOLDER</h3>
						<p>
							Some text
						</p>
						<img src="images/doctors-and-nurse.jpg" alt="">
						<p>
							 More text
						</p>
					</div>
				</div>
			</div>
			<div class="body">
				<div class="basic">
					<div>
						<div>
							<div>
								<span>  Products or Product  </span>
								<h3>You can replace all this text with your own text.</h3>
								<p>
									This website template 
								</p>
								<img src="images/man-with-dog.jpg" alt="">
								<p>
									
									
									
								</p>
								<br>
								<p>
									This is just a place holderftst a place holder

								</p>
							</div>
							<div>
								<div>
									<h4>Chat</h4>
									
									
									<p> .... </p>
									
									

								</div>
								<div>
								
									<h4>Archive</h4>
									<ul>
										<li>
											<p>
												<a href="#">This is a place holder</a>
											</p>
										</li>
										<li>
											<p>
												<a href="#">This is a place holder</a>
											</p>
										</li>
										<li>
											<p>
												<a href="#">This is a place holder</a>
											</p>
										</li>
										<li>
											<p>
												<a href="#">This is a place holder</a>
											</p>
										</li>
										<li>
											<p>
												<a href="#">This is a place holder</a>
											</p>
										</li>
										<li>
											<p>
												<a href="#">This is a place holder</a>
											</p>
										</li>
										<li>
											<p>
												<a href="#">This is a place holder</a>
											</p>
										</li>
										<li>
											<p>
												<a href="#">This is a place holder</a>
											</p>
										</li>
										<li>
											<p>
												<a href="#">This is a place holder</a>
											</p>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
<!-- FOOTER------------------------------------------------------------------------------------------------------------->			
			
			<div class="footer">
				<div>
					<div>
						<h4>About</h4>
						<p>
							Learn about why we made this website.
						</p>
						<a href="about.html">About</a>
					</div>
					<div>
						<h4>Links</h4>
						<ul>
							<li>
								<a href="index.html">Home</a>
							</li>
							<li>
								<a href="products.html">Products</a>
							</li>
							<li>
								<a href="networks.html">Networks</a>
							</li>
							<li>
								<a href="Vendors.html">Vendors</a>
							</li>
							<li>
								<a href="About.html">About</a>
							</li>
							<li>
								<a href="resources.html">Resources</a>
							</li>
						</ul>
					</div>
					<div class="connect">
						<h4>Keep In Touch</h4>
						<a href="" id="twitter">twitter</a> <a href="" id="facebook">facebook</a> <a href="" id="googleplus">google+</a>
					</div>
				</div>
				<p>
					&#169; Copyright 2016. All rights reserved
				</p>
			</div>
		</div>
	</div>
</body>
</html>