{{extend 'layout.html'}}
	{{block 'scrollBar.html'}}
<div style="background: #f0f0f0; margin-bottom: 5px; padding: 8px;">
    <!--{{=prod}}-->
    <div class="first">

		<div>
			<h3>{{=pName}}</h3>

			<img src="{{=URL('default', 'download', args = [pImage])}}" data-url="{{=URL('download', args = [pImage])}}" alt="" style = "width:280px;height:280px;"/>
			<p>
				{{=pDescription}}
			</p>
		</div>
	</div>
			<div>
				<div>
					<div>
						<div>
							<div>
								<h3>Product Info</h3>
								<ul>
									<li>
										<p>
											Price: ${{=pPrice}}
										</p>
									</li>
									<li>
										<p>
											{{=pStock}} in Stock
										</p>
									</li>
									<li>
										<p>
											{{=pType}}
										</p>
									</li>
									<li>
										<p>
											Sold By <a href="{{=(URL('default', 'orgDetails', vars = dict(value = pOrgID)))}}">{{=oName}}</a>
										</p>
									</li>
									<li>
										<p>
											Rating: 
											<div>
												{{for i in range(5):}}
													{{if i <= int(pAvgRating-1):}} <img src="{{=URL('static','images/heart.png')}}" style = "width:20px;height:20px;"/>
													{{elif (pAvgRating-1-i) < 1.0 and (pAvgRating-1-i) > 0.0:}} <img src="{{=URL('static','images/heartHalf.png')}}" style = "width:20px;height:20px;"/>
													{{else:}} <img src="{{=URL('static','images/heartEmpty.png')}}" style = "width:20px;height:20px;"/>
													{{pass}}
												{{pass}}
											</div>
										</p>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
	<a href="{{=(URL('default', 'postReview', vars = dict(product=pID)))}}">Leave a Review</a>
	{{for review in reviews:}}
	{{reviewer = db(auth.settings.table_user.id == review.userID).select().first()}}
		<div>
			<a href = "{{=URL('default', 'userDetails', vars = dict(value = review.userID))}}"/>{{if reviewer.job_title != None:}}{{=reviewer.job_title}}{{pass}} {{=reviewer.first_name}} {{=reviewer.last_name}}</a> had this to say:
		</div>
		<div>
			{{=review.title}}
		</div>
		<div>
			{{for j in range(5):}}
				{{if int(j) <= int(review.rating-1):}} 
					<img src="{{=URL('static','images/heart.png')}}" style = "width:10px;height:10px;"/>
				{{#elif float(review.rating-1-j) < float(1.0) and float(review.rating-1-j) > float(0.0):}} 
					<!--<img src="{{=URL('static','images/heartHalf.png')}}" style = "width:10px;height:10px;"/>-->
				{{else:}} 
					<img src="{{=URL('static','images/heartEmpty.png')}}" style = "width:10px;height:10px;"/>
				{{pass}}
			{{pass}}
		</div>
		<div>
			{{=review.review_text}}
		</div>
	{{pass}}

</div>
